Calender/*
.venv/*
.env
*_api_key.txt
.DS_Store
.idea/*
.pytest_cache/*
.ruff_cache/*
.vscode/*
demo_data/*
Assets/*
qdrant_db
qdrant_storage_old
Invoices/*.png
Invoices/*.json
Invoices/*.txt
static/uploads/
core/__pycache__
openapi-all
qdrant_storage/
core/__pycache__
